<section class="todoapp stack">
  <header>

    <div class="newtodo">

      <div class="toggle-on">
        <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
      </div>

      <%= form_for :todo, url: todos_path, method: :post do |f| %>
          <%= f.text_field :title, placeholder: 'What needs to be done?', autofocus: true %>
          <%= f.hidden_field :list_id, value: todo[:list_id] %>
      <% end %>

    </div>

  </header>

  <section class="list">

    <% todos.each do |todo| %>

        <div class="check">

          <div class="toggle">

            <%= form_for :todo, url: todo_path(todo), method: :patch do |f| %>
                <%= f.check_box :completed, :onclick => "$(this).closest('form').submit()", class: "roundedTwo"%>
          <% end %>

          </div>

          <span class="<%='line-through' if todo.completed %>"><%=todo.title %></span>

          <%= link_to todo_path(todo), method: :delete, class: 'destroy' do %>
              <i class="fa fa-times"></i>
          <% end %>

        </div>

    <% end %>

  </section>

  <footer>

    <span class="todo-count"><%= pluralize(todos.uncompleted.count, 'item')  %>  left</span>

    <ul>
      <li class="selected"><%= link_to 'All', todos_path %></li>
      <li><%= link_to 'Active', uncompleted_path %></li>
      <li><%= link_to 'Completed', completed_path %></li>
    </ul>

    <span class="comp-clear"><%= link_to 'Clear completed', completed_path, method: :delete %></span>
  </footer>

</section>